
#ingredients-title {
    font-size: 1.4rem;
    color:#00ac84;
    text-align: center;
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 2px solid;
}

.recipe-index-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 8%;
}

label {
    font-size: 1.1rem;
    padding: 10px;
    color: #00ac84;
}

#generate-recipes-button {
    display: block;
    padding: 4px 10px;
    background-color: #87CEEB;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Itim', cursive;
    color: white;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    outline: none;
    cursor: pointer;
    border: 2px solid #6495ED;
    margin-top: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

#delete-ingredients-button {
    display: block;
    padding: 4px 10px;
    background-color: #ffa888;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Itim', cursive;
    color: white;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    outline: none;
    cursor: pointer;
    border: 2px solid #FF7F50;
    margin-top: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

#generate-recipes-button:hover {
    background-color: #6495ED;
}

#delete-ingredients-button:hover {
    background-color: #FF7F50;
}
