.outer-container {
    position: relative;
    margin-top: 8%;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .outer-container {
    position: relative;
    margin-top: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
} */

.fridge-img-container {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 90%;
} 

.fridge-img-container img {
    max-height: 600px;
    min-height: 105%;
    object-fit: contain;
}

.mainpage-container {
    position: relative;
    display: flex;
    margin-top: 5%;
    width: 1100px; 
    height: 800px;
}

.overlay-div1 {
    position: absolute;
    top: 61.5%;
    left: 5%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 290px;
    height: 252px;
    z-index: 2;
    box-shadow: 0 0 0 3px transparent; 
    transition: box-shadow 0.3s ease-in-out; 
    /* Add hover effect */
    &:hover {
        -webkit-box-shadow: 0px 0px 100px 0px rgb(246, 255, 0);
        -moz-box-shadow: 0px 0px 100px 0px rgb(246, 255, 0);
        box-shadow: 0px 0px 100px 0px rgb(246, 255, 0);
    }
}

.overlay-div2 {
    position: absolute;
    top: 78.5%;
    left: 73.3%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: 290px;
    height: 245px;
    z-index: 2;
    box-shadow: 0 0 0 3px transparent; 
    transition: box-shadow 0.3s ease-in-out;

    &:hover {
        -webkit-box-shadow: 0px 0px 100px 0px rgb(246, 255, 0);
        -moz-box-shadow: 0px 0px 100px 0px rgb(246, 255, 0);
        box-shadow: 0px 0px 100px 0px rgb(246, 255, 0);
    }
}

.overlay-div1 p,
.overlay-div2 p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    font-size: 16px;
    z-index: 3;
}

.ingredients-container {
    flex: 1;
    max-height: 700px;
    background-color: #dafaef;
    min-width: 20%;
    max-width: 15%;
    border-radius: 20px;
    margin-right: 20px;
}

.gen-recipes-container {
    max-height: 700px;
    background-color: #caf0ff;
    min-width: 450px;
    overflow: auto;
    margin-right: 200px;
    border-radius: 20px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    font-size: 1.3rem;
    margin-bottom: 50px;
}

.footer-text {
    margin-right: 10px; 
}

.icon-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000;
}

.github-icon {
    margin-left: 5px;
    font-size: 30px;
    transition: color 0.1s ease-in-out;
}

.github-icon:hover {
    color: #00ac84;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    font-size: 1.3rem;
    margin-bottom: 500%;
}

.footer-text {
    margin-right: 10px; 
}

.icon-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000000;
}

.github-icon {
    margin-left: 5px;
    font-size: 2rem;
    transition: color 0.1s ease-in-out;
}

.github-icon:hover {
    color: #00ac84; /* Change the color on hover to the desired color */
}